@import url('https://fonts.googleapis.com/css?family=Baloo+2|Rock+Salt&display=swap');

:root {
    --fretboard-height: 350;
    --number-of-strings: 6;
    --string-height: 10;
    --half-string-height: calc(var(--string-height) / 2);
    --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height));
    --double-fretmark-position-1: calc(var(--fretboard-height) * 0.25);
    --double-fretmark-position-2: calc(var(--fretboard-height) * 0.75);
    --noteDotOpacity: 0;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #353535;
    font-family: 'Baloo 2', cursive;
}

a:link {
    text-decoration: none;
    color: silver;
}
  
a:visited {
    text-decoration: none;
    color: silver;
}
  
a:hover {
    text-decoration: underline;
    color: silver;
}
  
a:active {
    text-decoration: underline;
    color: silver;
}

.logo {
    text-align: center;
    color: #fbc531;
    font-size: xx-large;
    font-family: 'Rock Salt', cursive;
}

.logo h5 {
    color: silver;
    font-family: 'Baloo 2', cursive;
    padding: 10px;
    padding-bottom: 40px;
}

footer {
    margin-left: 15px;
    color: silver;
}

.settings {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: silver;
    font-size: 18px;
    padding: 20px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background: #282828;
    /* font-family: 'Baloo 2' !important; */
}

.settings-element {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}

.settings-element label {
    margin-right: 15px;
}

.settings-element i {
    font-size: xx-large;
}

.fretboard {
    display: flex;
    flex-direction: column;
    background: #44322d;
    width: 100%;
    height: calc(var(--fretboard-height) * 1px);
    margin-top: 50px;
}

.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.string:before {
    content: '';
    width: 100%;
    height: calc(var(--string-height) * 1px);
    background: linear-gradient(#333, #999);
    box-shadow: 76px 3px 10px #806233;
    z-index: 1;
    position: absolute;
    top: 22px;
    top: calc(var(--string-top-position) * 1px);
}

.note-fret {
    display: flex;
    flex: 1;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.note-fret:first-child {
    background: #161717;
    min-width: 76px;
    border-right: 12px solid;
    flex-grow: 0;
    flex-shrink: 0; 
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note-fret:before {
    content: attr(data-note);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    background: #3498db;
    z-index: 2;
    color: #eee;
    opacity: var(--noteDotOpacity);
    cursor: pointer;
}

.single-fretmark:after, .double-fretmark:before, .double-fretmark:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: silver;
}

.single-fretmark:after {
    top: calc(var(--fretboard-height) / 2 * 1px);
    transform: translate(0,  -50%);
}

.double-fretmark:before {
    top: calc(var(--double-fretmark-position-1) * 1px);
    transform: translate(-140%,  -50%);
}

.double-fretmark:after {
    top: calc(var(--double-fretmark-position-2) * 1px);
    transform: translate(-140%,  -50%);
}

#tuning-selectors select, .settings-element{
    cursor: pointer;
}

#fret-decrease, #fret-increase {
    border-radius: 50%;
    width: 30px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    border: 0;
    background: teal;
    color: silver;
    font-weight: bold
}

label {
    margin: 5px;
}

.instructions {
    color: silver;
    font-size: x-large;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.instructions p {
    padding-top: 10px;
    font-size: large;
    letter-spacing: 1px;
}

#tuning-selectors select, #instrument-selector  {
    margin: 10px;
    background: #353535;
    color: silver;
    font-size: 18px;
    font-family: 'Baloo 2';
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

option {
    font-family: Arial, Helvetica, sans-serif;
}


#tuning-selectors select:hover, #instrument-selector:hover  {
    border-color: white;
}

#tuning-selectors select {
    margin-right: 10px;
    width: 50px;
}

#instrument-selector select {
    display: none;
    font-family: 'Baloo 2';
  }

#reset-tuning {
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: 0;
    background: teal;
    color: silver;
    font-weight: bold
}

#show-multiple-bar{
    color: silver;
    font-size: xx-large;
    text-align: center;
    padding: 40px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.single-note{
    opacity: 0.7;
    margin-left: 5px;
    margin-right: 20px;
    letter-spacing: 0px;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#start-game-button {
    padding: 15px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    background: #fbc531;
    color: black;
    text-shadow:0px 1px 0px #e6d977;
    font-weight: bold
}

#start-game-button:active {
	position:relative;
	top:1px;
}

.game-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: silver;
    font-size: x-large;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    height: 30px;
}

.note-box {
    font-size: 35px;
}

.game-popup {
    position: fixed;
    top: 40%;
    left: 45%;
    border: 3px solid black;
    background-color: #282828;;
    color: silver;
    border-radius: 15px;
    z-index: 9;
  }

.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    max-width: 800px;
    padding: 40px;
  }

#popup-points {
     margin-bottom: 30px;

  }

#close-button {
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: 0;
    background: teal;
    color: silver;
    font-weight: bold
  }